@import url('[https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap](https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap)');

body{
margin:0;
height:100vh;
font-family:'Poppins', sans-serif;


/* Fondo mejorado */
background: linear-gradient(-45deg, #ff758c, #ff7eb3, #ffc3a0, #ffdde1);
background-size:400% 400%;
animation: fondo 12s ease infinite;

display:flex;
justify-content:center;
align-items:center;


}

/* Animación del fondo */
@keyframes fondo{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

.contenedor{
background: rgba(255,255,255,0.95);
padding:35px;
border-radius:25px;
width:420px;
text-align:center;
box-shadow:0 15px 40px rgba(0,0,0,0.25);
}

h1{
color:#ff4d6d;
margin-bottom:5px;
}

.sub{
color:#777;
margin-bottom:20px;
}

.tarjeta{
margin:20px 0;
}

#imagen{
width:100%;
height:260px;
object-fit:contain;
object-position:center;
border-radius:18px;
background:#fff0f4;
padding:8px;
box-shadow:0 10px 25px rgba(0,0,0,0.25);
transition:0.4s;
}

#texto{
margin-top:15px;
font-size:20px;
color:#333;
min-height:60px;
font-weight:500;
}

button{
margin-top:15px;
padding:14px 28px;
font-size:16px;
border:none;
border-radius:15px;
background:#ff4d6d;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
background:#ff1e4d;
}
.oculto{
display:none;
}

/* pantalla final */
#final{
text-align: center;
margin-top: 80px;
}

.oculto{
display: none;
}

/* corazón */
.corazon{
position: relative;
width: 220px;
height: 200px;
background: #ff4d6d;
margin: auto;
transform: rotate(-45deg);
animation: latir 1s infinite;


/* IMPORTANTE */
display: flex;
justify-content: center;
align-items: center;
font-size: 90px;
color: white;
font-weight: bold;
z-index: 10;


}

/* circulos del corazón */
.corazon::before,
.corazon::after{
content: "";
position: absolute;
width: 220px;
height: 200px;
background: #ff4d6d;
border-radius: 50%;
z-index: 1;
}

.corazon::before{
top: -100px;
left: 0;
}

.corazon::after{
left: 100px;
top: 0;
}

/* animación */
@keyframes latir{
0%{ transform: rotate(-45deg) scale(1); }
50%{ transform: rotate(-45deg) scale(1.15); }
100%{ transform: rotate(-45deg) scale(1); }
}

/* mensaje */
.mensajeFinal{
margin-top: 40px;
font-size: 28px;
color: #ff4d6d;
font-weight: bold;
}

/* letra dentro del corazón */
.letra{
position: absolute;
transform: rotate(45deg); /* deshace la rotación del corazón */
font-size: 90px;
font-weight: bold;
color: white;
z-index: 20;
}
